
.main-container {
    height: 100vh;
     
}
  .left-column{
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  #name{
    margin: 0px;
    font-size: 4vw;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(20, end);
    animation-fill-mode: forwards;
  }
  p{
    font-size: 1.2rem;
    margin-left: 7px;
    margin-top: 10px;
  }

  .stackList {
    display: flex;
    list-style-type: none; 
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .stackList li {
    background-color: black;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    color: white;
    border-radius: 20px;
    padding: 5px 10px; 
  }
  
  .myImage {
    max-width: 100%;
    height: 100%;
    transform: scaleX(-1);
    object-fit: cover;
    display: block;
  }


  .logo{
    width: 50px;
    height: 50px;
    object-fit:contain;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  .logo:hover{
    filter: none;
    -webkit-filter: grayscale(0);
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @media screen {
    
  }