<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119904146680-v633hrd0dqjcgsnb2hhbut1s7cbqboop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119904146680-v633hrd0dqjcgsnb2hhbut1s7cbqboop</string>
	<key>API_KEY</key>
	<string>AIzaSyCfg2Zn3ynoSh4hE3VstD-dQa4ExuJ0meI</string>
	<key>GCM_SENDER_ID</key>
	<string>119904146680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeServicesFyp</string>
	<key>PROJECT_ID</key>
	<string>homeservicesfypapp</string>
	<key>STORAGE_BUCKET</key>
	<string>homeservicesfypapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119904146680:ios:d6bf936ee93058a0bb570d</string>
</dict>
</plist>